.notfound {
    color: var(--text2);
    font-weight: 300;
  
    h1 .text {
      font-size: 10rem;
    }
  
    p {
      font-size: 20px;
      margin-bottom: 3.25rem;
      line-height: 2.0rem;
    }
  }
  
  button {
    outline: none;
    height: 50px;
    text-align: center;
    width: fit-content;
    border-radius: 40px;
    border: 2px solid var(--accent2);
    color: var(--second);
    cursor: pointer;
    transition: all 0.3s ease;
    background-color: var(--bg);
    font-size: 20px;

    span {
        padding-left: 0.25rem;
        padding-right: 0.25rem;
    }
  }
  
  @media only screen and (min-width: 900px) {
    button:hover {
        letter-spacing: 1px;
        color: #F4F6FB;
        background: -webkit-linear-gradient(right,var(--accent1),var(--accent2));
        background: linear-gradient(270deg,var(--accent1) 0,var(--accent2));
        background-size: 350%;
        -webkit-animation: gradientText 3s ease infinite;
        border: none;
        animation: gradientText 3s ease infinite;
      }
  
    button:active {
        letter-spacing: 2px;
      }
    }