.about {
    margin: auto;
    margin-top: 50px;
    width: 80vw;
    font-weight: 300;
}

.fa-heart {
    color: #F9063B;
}

.about-container {
    display: flex;
    flex-wrap: wrap;
    padding-bottom: 8rem;
    padding-top:  8rem;
    justify-content: center;
    align-items: center;

    img {
        width: 300px;
        height: 300px;
        border-radius: 500px;
        margin-right: 100px;
        background-color: var(--background1);
    }

    .about-text {
        color: var(--text2);
        font-size: 20px;
        width: 50%;
    }

    br {
        padding-top: 10px;
    }

    a {
        color: var(--accent1);
        font-weight: 500;
    }

    h2 {
        margin-top: 0;
    }
}

@media screen and (max-width: 900px) {
    .about-container {
        flex-direction: column;
        padding-bottom: 5rem;
        padding-top:  0rem;

        .about-text {
            color: var(--text2);
            width: 100%;
            font-size: 18px;
        }

        img {
            margin-right: 0;
            width: 250px;
            height: 250px;
            margin-bottom: 1.25rem;
        }
    }
    h2 {
        font-weight: 700;
        padding-top: 2.25rem;
        text-align: center;
    }
  }

  @media screen and (min-width: 900px) {
    .about-text a::after {
        position: absolute;
        content: "";
        width: 100%;
        color: #ecf0f1;
        height: 3px;
        top: 100%;
        left: 0;
        transition: transform 0.5s;
        transform: scaleX(0);
        transform-origin: right;
        background: -webkit-linear-gradient(right,var(--accent1),var(--accent2));
        background: linear-gradient(270deg,var(--accent1) 0,var(--accent2));
        background-size: 350%;
        -webkit-animation: gradientText 3s ease infinite;
        animation: gradientText 3s ease infinite;
      }
      
      .about-text a:hover::after {
        transform: scaleX(1);
        transform-origin: left;
      }
  }