.dribbble-shots {
    margin: auto;
    width: 80vw;
    font-weight: 300;
}

.dribbble-container {
    display: flex;
    flex-wrap: wrap;
    margin-left: -1.5rem;
    margin-right: -1.5rem;
    padding-bottom: 1.25rem;
}

.dribbble-item {
    padding-left: 1.25rem;
    padding-right: 1.25rem;
    width: 50%;
    margin-top: 1.25rem;
    margin-bottom: 1.25rem;
    position: relative;
    box-sizing: border-box;
}

.dribbble-item-container {
    min-height: 10rem;
    background-color: var(--background2);
    padding: 1.25rem;
    border-radius: 1.25rem;
    position: relative;
    transition: all 0.3s;

    img {
        max-width: 100%;
        max-height: 100%;
        border-radius: 0.25rem;
    }
}

.dribbble-title {
    font-weight: 500;
}

@media screen and (max-width: 900px) {
    .dribbble-container {
        flex-direction: column;
    }
    .dribbble-item {
        width: 100%;
    }
    h2 {
        font-weight: 700;
        padding-top: 2.25rem;
        text-align: center;
    }
  }

  @media screen and (min-width: 900px) {
    .dribbble-item-container:hover {
        box-shadow: 6px 10px 19px 0px rgba(0,0,0,0.4);
        transform: scale(1.03);
    }
    
    .dribbble-item-container:active {
        transform: scale(1);
    }
  }