.footer {
    background-color: var(--background1);
    padding: 1rem;
    position: relative;
    width: 60%;
    font-size: 20px;
    font-weight: 300;
    box-sizing: border-box;
}

@media screen and (max-width: 900px) {
    .footer {
        width: 100%;
        font-size: 16px;
    }
  }