html {
  scroll-behavior: smooth;
  height: 100%;
}

body {
  background-color: var(--background1);
  color: var(--text1);
  font-family: 'Poppins', sans-serif;
  user-select: none;
  height: 100%;
}

a {
  color: inherit;
  text-decoration: none;
  position: relative;
  cursor: pointer;
}

h1 {
  font-weight: 700;
}

h2 {
  color: transparent;
  -webkit-text-stroke: 0.8px var(--text1);
  font-size: 3rem;
}

.displaynone{
  display: none;
}

::-moz-selection {
  background: var(--accent1);
  color: var(--text1);
}

::selection {
  background: var(--accent1);
  color: var(--text1);
}

/* width */
::-webkit-scrollbar {
  width: 10px;
}

 
/* Handle */
::-webkit-scrollbar-thumb {
  background: var(--scrollbar); 
  border-radius: 10px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: var(--scrollbar-hover); 
}

@media screen and (max-width: 900px) {
 .pc {
   display: none;
 }
}

@media screen and (min-width: 900px) {
  .mobile {
    display: none;
  }
 }