html {
  scroll-behavior: smooth;
}

body {
  background-color: var(--background1);
  color: var(--text1);
  font-family: 'Poppins', sans-serif;
  -webkit-user-select: none; 
  -moz-user-select: none;
  user-select: none;
  transition: all 0.5s;
}

a {
  color: inherit;
  text-decoration: none;
  position: relative;
  cursor: pointer;
}

h1 {
  font-weight: 700;
}

h2 {
  color: transparent;
  -webkit-text-stroke: 0.8px var(--text1);
  font-size: 3rem;
}

.displaynone{
  display: none;
}

::-moz-selection {
  background: var(--accent1);
  color: var(--text1);
}

::selection {
  background: var(--accent1);
  color: var(--text1);
}

/* width */
::-webkit-scrollbar {
  width: 10px;
}

 
/* Handle */
::-webkit-scrollbar-thumb {
  background: var(--background2); 
  border-radius: 10px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: var(--background3); 
}