.mode-toggle {
  display: flex;
  position: fixed;
  top: 2rem;
  right: 2.5rem;
  z-index: 2;
  cursor: pointer;
  transition: all 0.3s;
}

.mode-toggle:hover {
  transform: scale(1.08);
}

.mode-icon{
  width: 2rem;
  height: 2rem;
}

.hero-container {
  position: absolute;
  text-align: center;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}

.hero {
    height: 100%;
}

.text {
  background: -webkit-linear-gradient(right,var(--accent1),var(--accent2));
  background: linear-gradient(270deg,var(--accent1) 0,var(--accent2));
  background-size: 350%;
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  -webkit-animation: gradientText 3s ease infinite;
  animation: gradientText 3s ease infinite;
  font-size: 4rem;
}

.normal {
  color: transparent;
  -webkit-text-stroke: 0.8px var(--text1);
  font-size: 4rem;
}

@keyframes gradientText {
    0% {
      background-position: 0% 50%;
    }
    50% {
      background-position: 100% 50%;
    }
    100% {
      background-position: 0% 50%;
    }
  }

.socialmedia {
  font-size: 25px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.socialmedia a{
  padding: 10px;
  margin: 0.25rem;
  border-radius: 50px;
  width: 26px;
  height: 26px;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: all 0.3s;
  color: #F4F6FB;
  box-shadow: 0px 3px 13px 3px #F652A04d;
  background: var(--accent1);
}

@media screen and (min-width: 900px) {
  .socialmedia a:hover {
    background: -webkit-linear-gradient(right,var(--accent1),var(--accent2));
    background: linear-gradient(270deg,var(--accent1) 0,var(--accent2));
    background-size: 350%;
    -webkit-animation: gradientText 3s ease infinite;
    animation: gradientText 3s ease infinite;
    transform: scale(.96);
}
.socialmedia a:active {
  transform: scale(.9);
}
}