.mode-toggle {
  display: flex;
  position: fixed;
  z-index: 6;
  cursor: pointer;
  transition: all 0.3s;
}

#theme {
  top: 2rem;
  right: 2.5rem;
}

#color {
  top: 2rem;
  left: 2rem;
}

.mode-toggle:hover {
  transform: scale(1.08);
}

.mode-icon{
  width: 2rem;
  height: 2rem;
}

.achievements-btn {
  position: fixed;
  top: 2rem;
  display: flex;
  width: 100%;
  z-index: 5;
  left: 7rem;
}

.hero-container {
  text-align: center;
}

.hero {
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.text {
  background: -webkit-linear-gradient(right,var(--accent1),var(--accent2));
  background: linear-gradient(270deg,var(--accent1) 0,var(--accent2));
  background-size: 350%;
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  -webkit-animation: gradientText 3s ease infinite;
  animation: gradientText 3s ease infinite;
  font-size: 4rem;
}

.normal {
  color: transparent;
  -webkit-text-stroke: 0.8px var(--text1);
  font-size: 4rem;
}

@keyframes gradientText {
    0% {
      background-position: 0% 50%;
    }
    50% {
      background-position: 100% 50%;
    }
    100% {
      background-position: 0% 50%;
    }
  }

.socialmedia {
  font-size: 25px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.socialmedia a{
  padding: 10px;
  margin: 0.25rem;
  border-radius: 50px;
  width: 26px;
  height: 26px;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: all 0.3s;
  color: var(--text1);
}

@media screen and (min-width: 900px) {

  .socialmedia:hover {
    a{
      color: var(--scrollbar);
    }
  }

  .socialmedia a:hover {
    transform: scale(1.09);
    color: var(--text1);
}
.socialmedia a:active {
  transform: scale(.9);
}
}

@media screen and (max-width: 900px) {

.achievements-btn {
  justify-content: center;
  left: 0;
}
}