.active-link {
  background-color: var(--accent1);
  color: #F4F6FB;
}

.nav {
  position: fixed;
  padding: 1.5rem;
  margin: 0.25rem;
  box-sizing: border-box;
  font-size: 20px;
  height: 100%;
  font-weight: 300;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: space-between;
  background-color: var(--background1);
  backdrop-filter: blur(10px);
}

.nav-container {
  position: absolute;
  text-align: center;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);

  li:hover {
    background: -webkit-linear-gradient(right,var(--accent1),var(--accent2));
    background: linear-gradient(270deg,var(--accent1) 0,var(--accent2));
    background-size: 350%;
    transform: scale(.96);
    color: #F4F6FB;
  }

  ul {
    list-style: none;
    margin: 0;
    padding: 0;
    font-size: 25px;
}

li{
    padding: 10px;
    margin: 0.25rem;
    border-radius: 50px;
    width: 26px;
    height: 26px;
    align-items: center;
    justify-content: center;
    transition: all 0.3s;
  }
}

  @media screen and (max-width: 900px) {
    .nav {
        display: none;
    }
  }