.rocket-btn {
    display: flex;
    flex-wrap: wrap;
    padding-bottom: 4rem;
    padding-top:  1.25rem;
    justify-content: center;
    align-items: center;
  }
  
  .btn-big {
    text-align: center;
    color: #f4f6fb;
    width: fit-content;
    padding-left: 1rem;
    padding-right: 1rem;
    padding-bottom: 0.5rem;
    padding-top: 0.5rem;
    margin: 0.5rem;
    border-radius: 0.5rem;
    display: inline-block;
    transition: all 0.3s;
    box-sizing: border-box;
    font-size: 1.25rem;
  }

  @media screen and (min-width: 900px) {
    .btn-big:hover {
        transform: scale(0.96);
      }
      .btn-big:active {
        transform: scale(0.9);
      }
  }

  @media screen and (max-width: 900px) {
    .rocket-btn {
        display: none;
    }
  }