html {
    --accent1: #F9063B;
    --accent2: #F9A90D;
    --background1: #111217;
    --background2: #15171D;
    --background3: #111217da;
    --background4: #15171dda;
    --text1: #F4F6FB;
    --text2: #d1d1d1;
    --scrollbar: #ffffffa9;
    --scrollbar-hover: #F4F6FB;
    --btn-primary-bg: #005BBB;
    --btn-primary-shadow: #005BBB4d;
    --btn-secondary-bg: #ffffffa9;
    --btn-secondary-shadow: #ffffff4d;
}

.lightmode {
    --background1: #F4F6FB;
    --background2: #ffffff;
    --background3: #f4f6fbda;
    --background4: #ffffffda;
    --text1: #111217;
    --text2: #33363f;
    --scrollbar: #111217a9;
    --scrollbar-hover: #1b1d24;
    --btn-secondary-bg: #111217a9;
    --btn-secondary-shadow: #1112174d;
}

.theme1 {
    --accent1: #F9063B;
    --accent2: #F9A90D;
    --btn-primary-bg: #F9063B;
    --btn-primary-shadow: #F9063B4d;
}

.theme2 {
    --accent1: #6daa5c;
    --accent2: #3b8084;
    --btn-primary-bg: #6daa5c;
    --btn-primary-shadow: #6daa5c4d;
}

.theme3 {
    --accent1: #2F06F9;
    --accent2: #DB06D6;
    --btn-primary-bg: #2F06F9;
    --btn-primary-shadow: #2F06F94d;
}

.theme4 {
    --accent1: #F3064B;
    --accent2: #2F06F9;
    --btn-primary-bg: #F3064B;
    --btn-primary-shadow: #F3064B4d;
}