html {
    --accent1: #F652A0;
    --accent2: #36EEE0;
    --background1: #0B0E11;
    --background2: #141a20;
    --background3: #242f38;
    --text: #F4F6FB;
}

.lightmode {
    --accent1: #F652A0;
    --accent2: #36EEE0;
    --background1: #F4F6FB;
    --background2: #ffffff;
    --background3: #d8d8d8;
    --text: #0B0E11;
}